.wrapper {
    max-width: 70rem; /* Define a largura máxima do contêiner como 70rem */
    margin: 2rem auto; /* Adiciona uma margem de 2rem no topo e na parte inferior, e centraliza horizontalmente */
    padding: 0 1rem; /* Adiciona um preenchimento de 1rem nas laterais (esquerda e direita) */
    
    display: grid; /* Define o layout como grid (grade) */
    grid-template-columns: 256px 1fr; /* Cria duas colunas: a primeira com largura fixa de 256px e a segunda ocupando o espaço restante (1fr) */
    gap: 2rem; /* Define um espaço de 2rem entre as colunas e linhas do grid */
    align-items: flex-start; /* Alinha os itens ao início do contêiner (parte superior) */
}

@media (max-width: 768px) { /* Início da consulta de mídia para dispositivos com largura máxima de 768px */
    html { 
        font-size: 87.5%; /* Ajusta o tamanho da fonte da raiz (html) para 87,5% do tamanho padrão, reduzindo a fonte em dispositivos menores */
    }
    .wrapper { 
        grid-template-columns: 1fr; /* Em telas menores, muda o layout do grid para uma única coluna (1fr) */
    }
}
